/* Reset some default styles to ensure consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    max-width: 100px;
}

.welcome {
    margin-bottom: 10px;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    /* Add hover effect */
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

/* Bold the Home, About, and Contact links */
nav a[href="#"] {
    font-weight: bold;
}

nav a:hover {
    color: #ffdf00; /* Change the color on hover */
    font-size: 18px; /* Enlarge the text on hover */
}

main {
    padding: 20px;
}

.sections-container {
    display: flex;
    justify-content: space-between;
}

.section {
    flex-basis: calc(50% - 20px); /* Adjusted to 50% for two sections */
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
}

.section p {
    color: #555;
}

/* Add spacing between sentences starting with bullet points */
.section li {
    margin-bottom: 5px; /* Adjust the spacing as needed */
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Mobile view */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin: 0 auto 10px; /* Center the logo horizontally */
    }

    .welcome {
        margin-bottom: 20px;
    }

    header h1 {
        font-size: 28px;
    }

    nav ul {
        flex-direction: column; /* Stack navigation links vertically */
    }

    nav li {
        margin-right: 0; /* Remove right margin for each list item */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    main {
        padding: 10px; /* Reduce padding for content */
    }

    .sections-container {
        display: block; /* Display sections in a single column */
    }

    .section {
        flex-basis: 100%; /* Take up the full width */
    }
}
